:root {
  --primaryColor: #CAB693;
  --secondaryColor: #6D3B22;
  --whatsappColor: #25D366;
  --iconSize: 70px;
}

* {margin:0; padding:0; box-sizing:border-box;}

body, html {height:100vh;}

::selection {background-color:var(--secondaryColor); color:#fff; text-shadow:none;}

