.main {display:flex; height:100vh;}
.module_text {width:60%; min-height:350px; background-color:var(--primaryColor); display:flex; justify-content:center; align-items:center;}
.module_socials {width:40%; display:flex; justify-content:flex-start; align-items:center; padding-left:15px;}

@media (max-width:1370px){
.module_text {width:70%;}
.module_socials {width:30%; padding-top:15px;}
}

@media (max-width:768px){
.main {flex-direction:column;}
.module_text {width:100%; }
.module_socials {width:100%; padding-top:15px;}
}